In [3]:
import pandas as pd

df = pd.read_csv(r"C:\Users\govind\Learning\Machine learning\game-sales-analysis\PS4_GamesSales.csv",  encoding='cp1252')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           1034 non-null   object
 1   Year           825 non-null    float64
 2   Genre          1034 non-null   object
 3   Publisher      825 non-null    object
 4   North America  1034 non-null   float64
 5   Europe         1034 non-null   float64
 6   Japan          1034 non-null   float64
 7   Rest of World  1034 non-null   float64
 8   Global         1034 non-null   float64
dtypes: float64(6), object(3)
memory usage: 72.8+ KB

In [4]:
df.isnull().sum()

Game               0
Year             209
Genre              0
Publisher        209
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
dtype: int64

In [6]:
df.dropna(subset=['Year','Publisher'],inplace=True)

In [7]:
df.isnull().sum()

Game             0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 825 entries, 0 to 1030
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           825 non-null    object
 1   Year           825 non-null    float64
 2   Genre          825 non-null    object
 3   Publisher      825 non-null    object
 4   North America  825 non-null    float64
 5   Europe         825 non-null    float64
 6   Japan          825 non-null    float64
 7   Rest of World  825 non-null    float64
 8   Global         825 non-null    float64
dtypes: float64(6), object(3)
memory usage: 64.5+ KB

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('dark')